<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundSuggestion.title%></title>
</head>
<body>
    <a href="/suggestions/all-suggestions">Home</a>

    <div
    style="background-color: lightblue; padding: 10px; margin-bottom: 10px"
  >
  <h1><%= foundSuggestion.title.toUpperCase() %></h1>
  <p><strong>Suggestion:</strong> <%= foundSuggestion.suggestion %><br/>
    <strong>Made by: <%=foundSuggestion.name%></strong></p>
    <form
    action="/suggestions/delete-suggestion/<%= foundWord.id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete</button>
  </form>

  </div>
</body>
</html>